h1 { color: #8B575C; font-family: 'Droid serif', serif; font-size: 60px; font-weight: 400; font-style: italic; line-height: 60px; margin: 0 0 12px; text-align: left; }
h4 { color: #333; font-family: 'Original Surfer', cursive; font-size: 16px; line-height: 28px; margin: 0 0 24px;  text-align: left; }
